.Sidebar {
    display: none;
}

@media screen and (min-width: 768px) {
    .Sidebar {
        display: flex;
        width: 150px;
        flex-direction: column;
    }
}

.SidebarButton {
    width: 150px;
    margin-bottom: 5px;
    color: var(--white-bg-color);
    background-color: var(--brown-bg-color);
    border: 1px solid var(--white-bg-color);
    border-radius: 7px;
    font-family: inherit;
    transition: var(--default-animation);
}

.SidebarButton:hover,
.SidebarButton:focus {
    background-color: var(--white-bg-color);
    color: var(--brown-bg-color);
    box-shadow: var(--shadow-buttons);
}