.Sidebar {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.SidebarButton {
    width: 150px;
    margin-bottom: 5px;
    color: #FFF8DC;
    background-color: #8B4513;
    border-radius: 7px;
    font-family: inherit;
}

.SidebarButton:hover,
.SidebarButton:focus {
    background-color: #FFF8DC;
    color: #8B4513;
}