.Button {
  display: inline-block;
  min-width: 50px;
  padding: 5px 5px;
  text-align: center;
  color: var(--brown-bg-color);
  background-color: transparent;
  border: 1px solid var(--brown-bg-color);
  border-radius: 2px;
  margin: 2px;
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  transition: var(--default-animation);
  cursor: pointer;
}

.Button:hover,
.Button:focus {
  background-color: var(--brown-bg-color);
  color: var(--white-bg-color);
  box-shadow: var(--shadow-buttons);
}