.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 5px;
  color: var(--white-bg-color);
  background-color: var(--brown-bg-color);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.contactsWrapper {
  display: flex;
  justify-content: space-around;
}

.ContactsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: 0 15px;
}

.BtnWrapper {
  display: flex;
}

.iconCall {
  width: 30px;
  fill: var(--brown-bg-color);
  stroke: var(--white-bg-color);
  margin-right: 5px;
}

.Logo {
  width: 50px;
  margin: 10px 10px;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footerLink {
  border: 1px solid var(--white-bg-color);
  padding: 3px;
  margin: 0;
}


@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}