.Header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-bg-color);
  background-color: var(--brown-bg-color);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.ContactsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 15px;
}

.Logo {
  width: 130px;
  margin: 0 10px;
}

.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: var(--white-bg-color);
  border-radius: 3px;
  overflow: hidden;
}

.SearchForm_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 0;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  -color: aliceblue;
}

.SearchForm_button:hover {
  opacity: 1;
  scale: 1.1;
}

.SearchForm_input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.SearchForm_input::placeholder {
  font: inherit;
  font-size: 18px;
}