.ButtonPhoneto {
    width: 110px;
    text-align: center;
    padding: 2px 0;
    background-color: var(--brown-bg-color);
    color: var(--white-bg-color);
    border: 1px solid var(--white-bg-color);
    text-decoration: none;
    border-radius: 7px;
    font-family: inherit;
    transition: var(--default-animation);

}

.ButtonPhoneto:hover,
.ButtonPhoneto:focus {
    background-color: var(--white-bg-color);
    color: var(--brown-bg-color);
}