.menuList {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(255, 248, 220, 0.6);
    list-style: none;
    font-family: inherit;
    border: 1px solid var(--white-bg-color);
    border-radius: 7px;
    overflow-x: auto;
    z-index: 100;
    cursor: pointer;
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.menuItem {
    display: flex;
    width: 100%;
}

.btnCategory {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 2px 0;
    background-color: var(--brown-bg-color);
    color: var(--white-bg-color);
    border: 1px solid var(--white-bg-color);
    text-decoration: none;
    border-radius: 7px;
    font-family: inherit;
    transition: var(--default-animation);
}

.btnCategory:hover,
.btnCategory:focus {
    background-color: var(--white-bg-color);
    color: var(--brown-bg-color);
    border: 1px solid var(--brown-bg-color);
}

@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}