.ButtonPhoneto {
    background-color: #8B4513;
    color: aliceblue;
    border: 1px solid gray;
    border-radius: 7px;
    font-family: inherit;

}

.ButtonPhoneto:hover,
.ButtonPhoneto:focus {
    background-color: #FFF8DC;
    color: #8B4513;
}