.PriceListWrapper {
    width: fit-content;
    padding: 0 15px;
    margin: 0 auto;
}

.PriceUL {
    margin: 0 auto;
    padding: 0;
}

.PriceItem {
    display: flex;
    justify-content: center;
    margin: 1px 0;
    padding: 0;
}

.PriceItem:nth-child(2n+1) {
    background-color: rgb(197, 197, 197);
}

.PriceItem:last-child {
    margin-bottom: 15px;
}

.ArtNumber {
    width: 70px;
}

.SeqNum {
    width: 40px;
}


.GoodName {
    width: 350px;
}

.Amount {
    width: 50px;
}

.Price {
    width: 50px;
}

.ArtNumber,
.SeqNum,
.GoodName,
.Amount,
.Price {
    margin: 1px;
    border: 1px solid black;
}