.App {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  font-family: 'Pacifico', cursive;
}

.Button_wrapper {
  display: flex;
  width: 300px;
  margin: 0 auto;
  gap: 10px;
  justify-content: left;
  align-content: center;
}

.bodyWrapper {
  display: flex;
}

.dropDownWrap {
  position: fixed;
  top: 3vh;
  right: calc((100% / 2) - 100px);
  width: 70px;
  margin-left: auto;
  z-index: 30;
}

.IconTitle {
  position: relative;
  text-align: right;
  transform: translate(150%, 15px);
  color: var(--white-bg-color);
  z-index: 100;
}

.IconMenu {
  position: relative;
  fill: var(--brown-bg-color);
  stroke: var(--white-bg-color);
  cursor: pointer;
  transform: translate(450%, 0);
  z-index: 100;
}