.App {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  font-family: 'Pacifico', cursive;
}

.Button_wrapper {
  display: flex;
  width: 300px;
  margin: 0 auto;
  gap: 10px;
  justify-content: left;
  align-content: center;
}

.bodyWrapper {
  display: flex;
}

.dropDownWrap {
  position: fixed;
  top: 3vh;
  right: calc((100% / 2) - 100px);
  width: 70px;
  margin-left: auto;
  z-index: 30;
}

.IconTitle {
  position: relative;
  text-align: right;
  transform: translate(120px, 0);
  color: var(--white-bg-color);
  z-index: 100;
}

.IconMenu {
  position: relative;
  fill: var(--brown-bg-color);
  stroke: var(--white-bg-color);
  cursor: pointer;
  transform: translate(160px, -15px);
  z-index: 100;
  transition: var(--default-animation);
  cursor: pointer;
}

.IconMenu:hover,
.IconMenu:focus {
  background-color: var(--white-bg-color);
  color: var(--brown-bg-color);
}

.Body {
  display: flex;
  /* flex-direction: row; */
  padding: 0 15px;
  margin: 0 auto;
}

.PriceNaviWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}