.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}
.Button_wrapper {
  display: flex;
  width: 300px;
  margin: 0 auto;
  gap: 10px;
  justify-content: left;
  align-content: center;
}
